pool: Default

trigger: none

parameters:
  - name: env
    displayName: Choose Environment
    type: string
    values:
      - dev
      - prod


variables:

- name: WORK_DIR
  value: '$(System.DefaultWorkingDirectory)/environments/dev'

- name: SERVICE_CONNECTION_NAME
  value: 'terraformdemo'

stages:

# -------------------- PRE-COMMIT --------------------
- stage: PreCommit
  displayName: Pre-Commit
  pool: Default

  jobs:
  - job: terraformvalidate
    displayName: terraform validate
    steps:
    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(WORK_DIR)'
        backendServiceArm: 'terraformdemo'
        backendAzureRmStorageAccountName: 'storagedkdemo'
        backendAzureRmContainerName: 'dktfstate'
        backendAzureRmKey: '$(parameters.env).terraform.tfstate'
        

    - task: TerraformTask@5
      displayName: Terraform Validate
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(WORK_DIR)'

  - job: terraformfmt
    dependsOn: terraformvalidate
    displayName: terraform fmt
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'custom'
        workingDirectory: '$(WORK_DIR)'
        outputTo: 'console'
        customCommand: 'fmt'
        environmentServiceNameAzureRM: '$(SERVICE_CONNECTION_NAME)'

  - job: tfsec
    dependsOn: terraformfmt
    displayName: Tfsec
    steps:
    - task: tfsec@1
      inputs:
        version: 'v1.26.0'
        dir: '$(WORK_DIR)'

# -------------------- PLAN --------------------
- stage: plan
  displayName: plan
  dependsOn: PreCommit
  pool: Default

  jobs:
  - job: terraformplan
    displayName: terraform plan
    steps:
    - task: TerraformTask@5
      displayName: Terraform Init for Plan
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(WORK_DIR)'
        backendServiceArm: 'terraformdemo'
        backendAzureRmStorageAccountName: 'storagedkdemo'
        backendAzureRmContainerName: 'dktfstate'
        backendAzureRmKey: '$(parameters.env).terraform.tfstate'

    - task: TerraformTask@5
      displayName: Terraform Plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(WORK_DIR)'
        environmentServiceNameAzureRM: '$(SERVICE_CONNECTION_NAME)'

# -------------------- MANUAL APPROVAL --------------------
- stage: PreApproval
  displayName: Pre-Approval
  dependsOn: plan
  pool: server

  jobs:
  - job: Manualjob
    displayName: Manual Approval
    pool: server
    steps:
    - task: ManualValidation@1
      inputs:
        notifyUsers: 'dev.agentops@gmail.com'

# -------------------- APPLY --------------------
- stage: apply
  displayName: apply
  dependsOn: PreApproval
  pool: Default

  jobs:
  - job: terraformapply
    displayName: terraform apply
    steps:
    - task: TerraformTask@5
      displayName: Terraform Init for Apply
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(WORK_DIR)'
        backendServiceArm: 'terraformdemo'
        backendAzureRmStorageAccountName: 'storagedkdemo'
        backendAzureRmContainerName: 'dktfstate'
        backendAzureRmKey: '$(parameters.env).terraform.tfstate'

    - task: TerraformTask@5
      displayName: Terraform Apply
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(WORK_DIR)'
        environmentServiceNameAzureRM: '$(SERVICE_CONNECTION_NAME)'